@import "tailwindcss";

#root {
  width: 80vw;
  margin: 0 auto;
  padding: 100px 0;
}

@media (min-width: 1400px) {
  #root {
    width: 800px;
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
